.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environments
.env
.venv
env/
venv/
ENV/


# .DS_Store: macOS Finder metadata file that stores folder view settings and icon positions.
**/.DS_Store

# Emacs
*~

#
/backend/app/logs
